.App{
  text-align: center;
}
.btn-about{
  float: right;
    margin-right: 20px;
    width: 100px;
    height: 25px;
    background: linear-gradient(to right, #e277bb 30%, #ddb683 90%);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
}
button:hover {
  background: linear-gradient(45deg, #FFAFBD 30%, #ffc3a0 90%);
}
.card {
  position: relative;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 1%;
  padding: 20px;
  font-family: 'Noto Sans Tamil', sans-serif;

}

.fa-cloud {
  content: "\f0c2";
  margin-right: 10px;
  animation: facloud 4s infinite;
}


.title {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Dancing Script', cursive;
  }

.search-form {
  margin-top: 10px;
  align-items: center;
}
.search-form input {
  width: 40%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

.search-form button {
  width: 10%;
  height: 40px;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  background: linear-gradient(to right, #e277bb 30%, #ddb683 90%);
  font-size: 18px;
  color: #312c2c;
  cursor: pointer;
}
.search-form button:hover {
  background: linear-gradient(45deg, #FFAFBD 30%, #ffc3a0 90%);
  color: #000000;
}
.main-container {
  width: 100%;
  height: auto;
  color: #fff;
  /* text-align: center; */
  margin-top: 30px;
}

.main-container h4 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 2px;
}
.main-container .weather-icon img {
  width: 90px;
  height: 80px;
  margin: 0px;
  animation: iconanimation 3s infinite;
}
.weather-condition h3{
  margin-top: 1px;
}
@keyframes facloud {
  0% {
    transform: rotateY(0deg)
  }
  50%{
    transform: rotateY(180deg);
  }
  100% {
    transform:  rotateY(360deg);
  }
}

@keyframes iconanimation {
  from {
    transform: scale(0.5,0.5);
  }
  to {
    transform: scale(1,1);
  }
}
@media only screen and (min-width: 550px){
  .btn-about{
      width:250px;
  }
  .title {
    font-size: 45px;

  }
  .search-form input {
    width: 40%;
    height: 40px;
  }
}
@media only screen and (min-width: 600px) {
  .search-form input {
    width: 40%;
   
  }
  .search-form button {
    width: 25%;
  }
}
@media only screen and (max-width: 600px) {
  .search-form input {
    width: 40%;
  }
  .search-form button {
    width: 32%;
  }
}
@media only screen and (min-width: 768px){
  .search-form input {
    width: 40%;
  }
  .search-form button {
    width: 18%;
  }
}

@media only screen and (min-width: 992px) {
  .search-form input {
    width: 40%;
  }
  .search-form button {
    width: 18%;
  }
}

@media only screen and (min-width: 1200px) {
  .search-form input {
      width: 40%;
  }
  .search-form button {
    width: 18%;
  }
}

.temprature h1 {
  font-size: 30px;
  font-weight: 900;
}

.location h3 i {
  margin-right: 10px;
  animation: locationicon 2s infinite;
}

@keyframes locationicon {
  0% {
    transform: rotateY(0deg)
  }
  50%{
    transform: rotateY(180deg);
  }
  100% {
    transform:  rotateY(360deg);
  }
}

.loader-container {
  margin: 15%;
}